{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "loose": true,
        "useBuiltIns": false,
        "targets": {
          "node": "current",
          "browsers": [
            "> 5%",
            "last 2 versions",
            "ie >= 11"
          ]
        }
      }
    ],
    "vue",
    "@babel/preset-flow"
  ],
  "plugins": [
    "add-module-exports",
    "jsx-vue-functional",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-optional-chaining",
    ["@babel/plugin-proposal-pipeline-operator",{ "proposal": "minimal" }],
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    "@babel/plugin-proposal-function-bind",
    ["@babel/plugin-transform-runtime", {
      "corejs": false,
      "helpers": true,
      "regenerator": true,
      "useESModules": false
    }]
  ]  
}
